:root {
  /* Primary & Accent Colors */
  --color-primary: #6366F1;
  --color-accent: #38BDF8;

  /* Backgrounds */
  --color-page-bg: #F8FAFC;
  --color-surface: #FFFFFF;

  /* Text Colors */
  --color-text-primary: #1E293B;
  --color-text-muted: #64748B;

  /* Status Colors */
  --color-success: #10B981;
  --color-danger: #F43F5E;

  /* Link Color */
  --color-link: #0EA5E9;
  --color-link-hover: #0369A1;
}
/* Backgrounds */
.bg-primary {
  background-color: var(--color-primary);
}
.bg-accent {
  background-color: var(--color-accent);
}
.bg-page {
  background-color: var(--color-page-bg);
}
.bg-surface {
  background-color: var(--color-surface);
}
.bg-success {
  background-color: var(--color-success);
}
.bg-danger {
  background-color: var(--color-danger);
}

/* Text */
.text-primary {
  color: var(--color-primary) !important;
}
.text-accent {
  color: var(--color-accent);
}
.text-dark {
  color: var(--color-text-primary);
}
.text-muted {
  color: var(--color-text-muted);
}
.text-surface {
  color: var(--color-surface);
}
.text-success {
  color: var(--color-success);
}
.text-danger {
  color: var(--color-danger);
}
.text-link {
  color: var(--color-link);
  text-decoration: none;
}
.text-link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}
.btn-create{
  background-color: var(--color-link) !important;
  color: var(--color-page-bg) !important;
}

/* Buttons */
.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-create {
  background-color: var(--color-success);
  color: #FFFFFF;
}
.btn-update {
  background-color: var(--color-primary);
  color: #FFFFFF;
}
.btn-delete {
  background-color: var(--color-danger);
  color: #FFFFFF;
}
.btn:hover {
  opacity: 0.9;
}

/* body{
  background-color: var(--color-accent) !important;
  color: var(--color-text-primary) !important;
} */

/* /////////////////// */
.input-errors{
  border: 1px solid red !important;
}
.form-control:focus {
  box-shadow: unset !important;
}